<h2>Welcome to the Sandbox</h2>

<p>This application uses the same approach as the myCoal system, but much of the extra complexity has been removed to make it easier to understand.</p>

<p>To get started, look around the user's area and try it out. Create, update, and delete some users. Look at the code and see how this is working.</p>

<h4>@Html.ActionLink("User's Area", "Index", "User")</h4>

<h3>The Assignment</h3>
<p>Using the existing code for reference, try to accomplish the following tasks.</p>
<ol>
    <li>Add a Created Date filed to the User table and use it to record when a user record was created</li>
    <li></li>
</ol>



