<h2>Welcome to the Sandbox</h2>

<p>This application uses the same approach as the myCoal system, but much of the extra complexity has been removed to make it easier to understand.</p>

<p>To get started, look around the user's area and try it out. Create, update, and delete some users. Look at the code and see how this is working.</p>

<h4>@Html.ActionLink("User's Area", "Index", "User")</h4>





